@charset "utf-8";

 *{padding:0;margin:0; border:0; }
 /* html{border-top:10px #1abf89 solid;}
 body{width:750px;margin:0 auto;padding:7% 20px 20px;}
 
 @media all and (max-width:1024px){pre a{width:85%;} } */
 
 small{color:#999;}
 #toolbar{margin-bottom:1em;position:fixed;left:20px;margin-top:5px;}
 #toolbar [class^="icon-"]:before, #toolbar [class*=" icon-"]:before{font-family:'pen'}
 #back{color:#1abf89;cursor:pointer;}
 #hinted{color:#1abf89;cursor:pointer;}
 #hinted.disabled{color:#666;}
 #hinted:before{content: '\e816';}