<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.mybatis.board.mapper.CommentMapper">
 
    <select id="commentList" resultType="com.mybatis.board.VO.CommentVO">
        SELECT cno, bno, content, writer, reg_date
        FROM   comment
        WHERE  BNO = #{bno}
    </select>
    
    <!-- WHERE BNO = #{bno} order by CNO desc -->
    <insert id="commentInsert" parameterType="com.mybatis.board.VO.CommentVO">
	    INSERT INTO
        COMMENT (CNO, BNO, CONTENT, WRITER, REG_DATE)
        VALUES(#{cno},#{bno},#{content},#{writer},now()) 
    </insert>
    
    <update id="commentUpdate" parameterType="com.mybatis.board.VO.CommentVO">
        UPDATE comment
        SET    CONTENT=#{content}
        WHERE  CNO=#{cno}
    </update>
    
    <delete id="commentDelete" parameterType="int">
        DELETE FROM comment
        WHERE  CNO=#{cno}
    </delete>
</mapper>